<div class="b-footer">

  <div class="wrapper">
    <div class="u-hidden u-text-center js-email-div"></div>

    <div class="u-text-center">
      <a href="/"><strong>Topher Hunt</strong></a>
      •
      <a href="#" class="js-reveal-email">Email</a>
      •
      <!-- TODO: Icons would be nice -->
      <a href="https://github.com/topherhunt" target="_blank">Github</a>
      •
      <a href="https://twitter.com/hunttopher" target="_blank">Twitter</a>
      •
      <a href="https://www.linkedin.com/pub/topher-hunt/25/25b/685" target="_blank">LinkedIn</a>
    </div>
  </div>
</div>
