---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <nav class="breadcrumbs">
    <a href="/">Home</a>
    <span class="separator">&rsaquo;</span>
    <a href="/blog/">Blog</a>
    <span class="separator">&rsaquo;</span>
  </nav>

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="b-post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div style="padding: 3em; text-align: center;">⟡</div>

  <!-- Giscus integration -->
  <script src="https://giscus.app/client.js"
          data-repo="topherhunt/topherhunt-blog-giscus"
          data-repo-id="R_kgDOQyj-Mw"
          data-category="Announcements"
          data-category-id="DIC_kwDOQyj-M84C0fkz"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="transparent_dark"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>

  <div style="padding-top: 3em; text-align: center;">⟡</div>

</article>
