
//
// Posts
//

.b-post-list {
  margin-left: 0;
  list-style: none;

  > li { margin-bottom: $spacing-unit; }
}

.b-post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.b-quote-container {
  min-height: 6em;
  overflow: auto;
  font-family: monospace;
  font-size: 90%;
}

//
// Projects
//

// TODO: This should be a utility. u-sidenote-right
.b-floating-picture {
  float: right;
  width: 200px;
  padding: 0 0 1em 1em;
}

// TODO: This should be a utility, .u-image-frame
.b-project-image {
  box-sizing: border-box; // Ensure that padding counts as part of the width
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 600px;
  background: #fff;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.b-caption {
  font-size: 0.8rem;
  text-align: center;
  color: #444;
}

//
// Mazes
//

.b-maze {
  box-sizing: border-box; // Ensure that padding counts as part of the width
  display: block;
  margin: 2em auto 2em auto;
  width: 400px;
  max-width: 100%;
  padding: 0.5em;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

//
// Resume
//

.b-resume-date {
  float: right;
  color: #888;
  font-weight: normal;
  font-size: 0.9em;
}
