.u-text-center { text-align: center; }

.u-hidden { display: none; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.m-align-bottom { align-items: flex-end; }

  > * + * { margin-left: 0.5em; }
  > .col-1x { flex-basis: 18rem; flex-grow: 1; }
}

.b-stack {
  > * + * {
    margin-top: 1em;
    clear: both; // clear any side-floated contents
  }

  &.--bordered > * + * {
    padding-top: 1em;
    border-top: 1px solid #eee;
  }
}
