<div class="b-footer">

  <div class="wrapper">
    <div class="text-center" style="font-size: 1rem;">
      <!-- <a href="/"><strong>Topher Hunt</strong></a> -->

      <a href="#" class="js-reveal-email"><i class="bi bi-envelope"></i> Email</a>
      &nbsp; &nbsp;
      <!-- TODO: Icons would be nice -->
      <a href="https://github.com/topherhunt" target="_blank"><i class="bi bi-github"></i> Github</a>
      &nbsp; &nbsp;
      <a href="https://substack.com/@topherhunt" target="_blank"><i class="bi bi-substack"></i> Substack</a>
      &nbsp; &nbsp;
      <a href="https://www.linkedin.com/pub/topher-hunt/25/25b/685" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
      &nbsp; &nbsp;
      <!-- <a href="https://www.beeminder.com/topherhunt" target="_blank" class="u-tooltip-target">🐝 BeeMinder<div class="u-tooltip">BeeMinder is a productivity and "motivation management" app that helps you stay on track with your personal commitments. I've made my profile public, because knowing someone might see it helps motivate me to keep my ducks in a row.</div></a> -->

      <!-- <a href="https://pinboard.in/u:topherhunt" target="_blank" class="u-tooltip-target">📌 Pinboard<div class="u-tooltip">My public collection of interesting sites, articles, apps, etc.</div></a> -->
    </div>
    <div class="u-hidden text-center js-email-div"></div>
  </div>
</div>
